body {
  background-color: black;
}

h1 {
  font-size: 3rem;
  color:whitesmoke
}

p{
  font-size: 20px;
}

.poster{
  color:white;
  width: 50%;
  text-align: center;
  font-family: Inter,sans-serif;
  margin: 29%;
  margin-top: 100px;
  max-width: 700px;
}

.motivation-img {
  height: 400px;
  border-radius: 8px;
  border: 2px solid rgb(185, 184, 184);
}

